/* Reset nhẹ, giảm specificity nhờ :where() */
:where(*, *::before, *::after) { box-sizing: border-box; }
/* :where(html, body) { height: 100%; } */
:where(body) { margin: 0; line-height: 1.5; -webkit-font-smoothing: antialiased; }
/* :where(img, picture, video, canvas, svg) { display: block; max-width: 100%; } */
:where(input, button, textarea, select) { font: inherit; }
:where(p, h1, h2, h3, h4, h5, h6) { margin: 0; }
